# Env files (nunca commitar valores reais)
backend/.env.development
backend/.env.test
backend/.env.production
backend/.env.prod
*.env

# Rails
backend/tmp/
backend/log/
backend/storage/
backend/.byebug_history
backend/coverage/
backend/spec/examples.txt
backend/spec/cassettes/*.yml

# Docker volumes (local)
.docker/

# Terraform
infrastructure/.terraform/
infrastructure/**/.terraform/
infrastructure/**/*.tfvars
infrastructure/**/*.tfplan
infrastructure/**/terraform.tfstate
infrastructure/**/terraform.tfstate.backup
infrastructure/**/.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/settings.json
*.swp
*.swo
