<p>Olá <%= @resource.email %>!</p>

<p>Recebemos uma solicitação para redefinir a senha da sua conta.</p>

<p>
  <a href="<%= "#{ENV.fetch('FRONTEND_URL', 'http://localhost:3001')}/reset-password?reset_password_token=#{@token}" %>">
    Redefinir minha senha
  </a>
</p>

<p>O link expira em 1 hora. Se você não fez esta solicitação, ignore este e-mail.</p>
